<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CodeQ Invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" th:href="@{/resources/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/libs/bootstrap-2.3.2.min.css}"/>
    <link rel="stylesheet" th:href="@{/resources/css/libs/bootstrap-responsive-2.3.2.min.css}"/>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="brand" th:text="#{app.name}"></div>
            <ul class="nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span th:text="#{navbar.projects}">Projects</span>
                        <b class="caret"></b>
                    </a>
                    <ul id="projectsMenuItem" class="dropdown-menu">
                        <li th:each="project : ${projects}">
                            <a href="#" th:href="@{'/projects/' + ${project.id}}" th:text="${project.name}">My project</a>
                        </li>
                        <li class="divider"></li>
                        <li id="addProjectMenutItem" th:class="${currentUrl} == @{/projects/create}? 'active' : ''">
                            <a href="#" th:href="@{/projects/create}" th:text="#{navbar.addProject}">Add new project</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid" tiles:include="content">
    </div>
</div>

<script th:src="@{/resources/js/libs/jquery-1.9.1.min.js}"></script>
<script th:src="@{/resources/js/libs/bootstrap-2.3.2.min.js}"></script>
<script th:src="@{/resources/js/libs/json2.js}"></script>
<script th:src="@{/resources/js/SonarReachabilityModule.js}"></script>
<script th:src="@{/resources/js/LoadSonarProjectsModule.js}"></script>
<script tiles:include="javascriptFragments"></script>
</body>
</html>