<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org" class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>CodeQ Invest</title>

    <link rel="stylesheet" href="resources/css/libs/bootstrap-2.3.2.min.css"/>

    <script src="resources/js/libs/modernizr-2.6.2.min.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="brand" th:text="#{app.name}"></div>
        <ul class="nav">
            <li class="active"><a href="#" th:text="#{navbar.overview}"></a></li>
        </ul>
    </div>
</div>

<div tiles:include="content"></div>

<script src="resources/js/libs/jquery-1.9.1.min.js"></script>
<script src="resources/js/libs/bootstrap-2.3.2.min.js"></script>
</body>
</html>