body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.squared-fieldset {
    border: 1px solid #e5e5e5;
    padding: 10px;
}

.small-legend {
    font-size: 18px;
}

.no-border {
    border: 0px;
}
