<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>CodeQ Invest</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="../../resources/css/main.css"/>
    <link rel="stylesheet" href="../../resources/css/libs/bootstrap-2.3.2.min.css"/>
    <link rel="stylesheet" href="../../resources/css/libs/bootstrap-responsive-2.3.2.min.css"/>
</head>

<body>
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <div class="brand">CodeQ Invest</div>
            <ul class="nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span>Projects</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Web Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Code Module</a>
                        </li>
                        <li class="divider"></li>
                        <li class="active">
                            <a href="#">Add new project</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div tiles:fragment="content">
        <div class="row-fluid">
            <div class="span8 offset2 well">
                <form id="createProjectForm" action="#" method="POST" th:action="@{/projects/create}" th:object="${project}">
                    <fieldset>
                        <legend th:text="#{form.addProject}">Add new project</legend>
                        <div class="row-fluid" th:if="${not #lists.isEmpty(fieldErrors)}">
                            <div id="validationErrorBox" class="span12 alert alert-error">
                                <p th:text="#{create.project.validation.errors}">Could not add new project. There are validation errors.</p>
                                <ul th:remove="all-but-first">
                                    <li th:text="#{${error.code}(#{'form.field.' + ${error.field}})}" th:each="error : ${fieldErrors}">One validation error</li>
                                    <li>One validation error</li>
                                    <li>One validation error</li>
                                </ul>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <fieldset class="squared-fieldset">
                                    <legend class="small-legend no-border" th:text="#{form.legend.settings.general}">General Settings</legend>
                                    <div class="row-fluid">
                                        <label class="span4" for="name" th:text="#{form.label.name}">Name:</label>
                                        <input class="span8" type="text" id="name" th:field="*{name}"/>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="profile" th:text="#{form.label.qualityProfile}">Quality Profile:</label>
                                        <select class="span8" id="profile" name="profile.id" th:remove="all-but-first">
                                            <option value="0" th:value="${p.id}" th:text="${p.name}" th:selected="${iterStat.first}" th:each="p,iterStat : ${profiles}">My Quality Profile</option>
                                            <option value="1" selected="selected">Company Standard Profile</option>
                                            <option value="2">Default Profile</option>
                                        </select>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="cron" th:text="#{form.label.cron}">CRON Job:</label>
                                        <input class="span8" type="text" id="cron" th:field="*{cronExpression}" placeholder="* * * * * *"/>
                                    </div>
                                    <div class="row-fluid">
                                        <div class="span8 offset4">
                                            <span class="help-block" th:text="#{form.helper.cron}">e.g. * * * 3 * * for every day at 3:00 AM</span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="span6">
                                <fieldset class="squared-fieldset">
                                    <legend class="small-legend no-border" th:text="#{form.legend.settings.codeChange}">Code Change Probability Settings</legend>
                                    <div class="row-fluid">
                                        <label class="span4" for="codeMethod" th:text="#{form.label.method}">Method:</label>
                                        <select class="span8" id="codeMethod" name="codeChangeSettings.method" th:remove="all-but-first">
                                            <option value="0" th:value="${method.id}" th:text="#{${method.messageSourceIdentifier}}" th:selected="${iterStat.first}" th:each="method,iterStat : ${codeChangeMethods}">Default</option>
                                            <option value="2">Weighted</option>
                                        </select>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="codeDays" th:text="#{form.label.daysOrCommits}">Number of days / commits:</label>
                                        <input class="span8" type="text" id="codeDays" th:field="*{codeChangeSettings.days}"/>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="span6">
                                <fieldset class="squared-fieldset">
                                    <legend class="small-legend no-border" th:text="#{form.legend.settings.sonar}">Sonar Settings</legend>
                                    <div class="row-fluid">
                                        <label class="span4" for="sonarUrl" th:text="#{form.label.url}">URL:</label>
                                        <input class="span8" type="text" id="sonarUrl" th:field="*{sonarConnectionSettings.url}" placeholder="http://sonar.company.com:9000" th:placeholder="#{form.placeholder.sonarUrl}"/>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="sonarUsername" th:text="#{form.label.username}">Username:</label>
                                        <input class="span8" type="text" id="sonarUsername" th:field="*{sonarConnectionSettings.username}"/>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="sonarPassword" th:text="#{form.label.password}">Password:</label>
                                        <input class="span8" type="password" id="sonarPassword" th:field="*{sonarConnectionSettings.password}"/>
                                    </div>
                                    <div id="sonarConnectionStatus" class="row-fluid hide">
                                        <div class="span8 offset4">
                                            <span class="label label-info" th:text="#{sonar.connection.progress}">Testing connection...</span>
                                            <span class="label label-success" th:text="#{sonar.connection.success}">Connection is ok!</span>
                                            <span class="label label-important" th:text="#{sonar.connection.error}">Could not reach Sonar server!</span>
                                        </div>
                                    </div>
                                    <div id="sonarProjectLoading" class="row-fluid hide">
                                        <label class="span4" for="sonarProject" th:text="#{form.label.project}">Project:</label>
                                        <div class="span8">
                                            <span class="label label-info label-in-form" th:text="#{sonar.projects.progress}">Loading projects...</span>
                                        </div>
                                    </div>
                                    <div id="sonarProjectLoaded" class="row-fluid hide" th:class="${not #lists.isEmpty(retrievedSonarProjects)}? 'row-fluid' : 'row-fluid hide'">
                                        <label class="span4" for="sonarProject" th:text="#{form.label.project}">Project:</label>
                                        <select class="span8" id="sonarProject" name="sonarConnectionSettings.project">
                                            <option th:value="${sonarProject.resourceKey}"
                                                    th:text="${sonarProject.name}"
                                                    th:selected="${sonarProject.resourceKey} == ${project.sonarConnectionSettings.project}"
                                                    th:each="sonarProject : ${retrievedSonarProjects}"></option>
                                        </select>
                                        <input type="hidden" id="retrievedSonarProjects" name="retrievedSonarProjectsAsJson" th:value="${retrievedSonarProjectsAsJson}"/>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="span6">
                                <fieldset class="squared-fieldset">
                                    <legend class="small-legend no-border" th:text="#{form.legend.settings.scm}">SCM Settings</legend>
                                    <div class="row-fluid">
                                        <label class="span4" for="scmSystem" th:text="#{form.label.system}">System:</label>
                                        <select class="span8" id="scmSystem" name="scmSettings.type" th:remove="all-but-first">
                                            <option value="0" th:value="${scm.type}" th:text="${scm.name}" th:selected="${iterStat.first}" th:each="scm,iterStat : ${supportedScmSystems}">Git</option>
                                            <option value="1" selected="selected">Subversion</option>
                                        </select>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="scmUrl" th:text="#{form.label.repository}">Repository URL:</label>
                                        <input class="span8" type="text" id="scmUrl" th:field="*{scmSettings.url}" placeholder="scm:svn:https://svn.company.com/repo/trunk/src/main/java" th:placeholder="#{form.placeholder.scmUrl}"/>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="scmEncoding" th:text="#{form.label.encoding}">Enocding:</label>
                                        <input class="span8" type="text" id="scmEncoding" th:field="*{scmSettings.encoding}"/>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="scmUsername" th:text="#{form.label.username}">Username:</label>
                                        <input class="span8" type="text" id="scmUsername" th:field="*{scmSettings.username}"/>
                                    </div>
                                    <div class="row-fluid">
                                        <label class="span4" for="scmPassword" th:text="#{form.label.password}">Password:</label>
                                        <input class="span8" type="password" id="scmPassword" th:field="*{scmSettings.password}"/>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions text-center">
                        <button class="btn btn-primary btn-large" type="submit" th:text="#{form.button.addProject}">Add project</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/js/libs/jquery-1.9.1.min.js"></script>
<script src="../../resources/js/libs/bootstrap-2.3.2.min.js"></script>
<script src="../../resources/js/libs/json2.js"></script>
<script src="../../resources/js/SonarReachabilityModule.js"></script>
<script src="../../resources/js/LoadSonarProjectsModule.js"></script>

<script type="text/javascript" tiles:fragment="javascriptFragments">//<![CDATA[
    (function() {
        var getSonarConnectionSettings = function() {
            return {
                url: $('#sonarUrl').val(),
                username: $('#sonarUsername').val(),
                password: $('#sonarPassword').val()
            };
        };

        var sonarServerCredentialElements = ['#sonarUrl', '#sonarUsername', '#sonarPassword'];
        SonarReachabilityModule.init($, getSonarConnectionSettings, sonarServerCredentialElements, '#sonarConnectionStatus');
        LoadSonarProjectsModule.init($, getSonarConnectionSettings, sonarServerCredentialElements,
                '#sonarProject', '#sonarProjectLoading', '#sonarProjectLoaded', '#retrievedSonarProjects');

        if ($('#sonarUrl').val().length !== 0 && $('#sonarProject option').length === 0) {
            LoadSonarProjectsModule.loadProjects();
        }
    })();
//]]></script>

</body>
</html>